@import url("../GeneralStyles.css");

.email {
    background: #f5f5f5;
}

.email-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding-bottom: 2.5rem;
    padding-top: 1.5rem;
    flex-wrap: wrap;
}

.email-title {
    font-weight: 400;
    color: #0e1015;
}